icecream==2.1.7
scikit-learn==1.7.2
pymoo==0.6.1.5
pyyaml==6.0.2
boto3==1.40.28
pandas==2.3.2
scikit-optimize==0.10.2
openstudio==3.9.0
numpy==2.2.6
tqdm==4.67.1
numpy_financial==1.0.0
docker==7.1.0
openpyxl==3.1.5
pip_system_certs==5.2
click==8.2.1
cloudpathlib==0.22.0
colorama==0.4.6
pyfiglet==1.0.4
requests==2.32.5
plotly==6.3.0
matplotlib==3.10.6
fpdf2==2.8.4
dataframe_image==0.2.7
seaborn==0.13.2
XlsxWriter==3.2.5
pyarrow==21.0.0
fastparquet==2024.11.0
eppy==0.5.63
json_schema_for_humans==1.4.1
