icecream==2.1.8
scikit-learn==1.7.2
pymoo==0.6.1.6
pyyaml==6.0.3
boto3==1.42.4
pandas==2.3.3
scikit-optimize==0.10.2
openstudio==3.9.0
numpy==2.2.6
tqdm==4.67.1
numpy_financial==1.0.0
docker==7.1.0
openpyxl==3.1.5
pip_system_certs==5.3
click==8.3.1
cloudpathlib==0.23.0
colorama==0.4.6
pyfiglet==1.0.4
requests==2.32.5
plotly==6.5.0
matplotlib==3.10.7
fpdf2==2.8.5
dataframe_image==0.2.7
seaborn==0.13.2
XlsxWriter==3.2.9
pyarrow==22.0.0
fastparquet==2024.11.0
eppy==0.5.63
json_schema_for_humans==1.5.1
